<%- include("partials/header.ejs") %>

<div class="add-notes-wrapper">
  <h2 class="add-title">Your notes:</h2>
  <div class="notes-wrapper">
    <%if(locals.notes && notes.length > 0) { notes.map((item, index) => { %>
    <div class="note">
      <p class="note-text-title"><%=item.title%></p>
      <p class="note-text"><%=item.note%></p>

      <div class="btns-wrapper">
        <form action="/edit" method="POST">
          <%if(item.isEdited) {%>
          <input class="hidden" type="submit" value="Edit" name="<%=index%>" />
          <% } else { %>
          <input
            class="see-more-btn"
            type="submit"
            value="Edit"
            name="<%=index%>"
          />
          <%}%>
        </form>

        <%if(item.isEdited) {%>
        <form class="change-form" action="/save" method="POST">
          <input
            class="change-input"
            type="text"
            name="changedTitle"
            value="<%=item.title%>"
          />
          <input
            class="change-input"
            type="text"
            name="changedNote"
            value="<%=item.note%>"
          />
          <input
            class="see-more-btn save-btn"
            type="submit"
            value="Save"
            name="<%=index%>"
          />
        </form>
        <% } %>

        <form action="/delete" method="POST">
          <input
            class="see-more-btn"
            type="submit"
            value="Delete"
            name="<%=index%>"
          />
        </form>
      </div>
    </div>
    <%})} else {%>
    <h1>You have no Notes</h1>
    <%}%>
  </div>
</div>

<%- include("partials/footer.ejs") %>
