<%- include("partials/header.ejs") %>

<div class="form-notes-wrapper">
  <h1>Your notes:</h1>

  <div class="notes-wrapper">
    <%if(locals.notes && notes.length > 0) { notes.map((item, index) => { %>
    <div class="note">
      <p><%=item.title%></p>
      <p><%=item.note%></p>

      <form action="/edit" method="POST">
        <input type="submit" value="edit" name="<%=index%>" />
      </form>

      <%if(item.isEdited) {%>
      <form action="/save" method="POST">
        <input type="text" name="changedTitle" />
        <input type="text" name="changedNote" />
        <input type="submit" value="save" name="<%=index%>" />
      </form>
      <% } %>

      <form action="/delete" method="POST">
        <input type="submit" value="delete" name="<%=index%>" />
      </form>
    </div>
    <%})} else {%>
    <h1>You have no Notes</h1>
    <%}%>
  </div>
</div>

<%- include("partials/footer.ejs") %>
